<configuration>
  <components>


    <component id="ConnectionStringLocator"
               service="UCommerce.Infrastructure.Configuration.IConnectionStringLocator"
               type="MyUCommerceApp.BusinessLogic.Integration.ConnectionStringLocator, MyUCommerceApp.BusinessLogic">
      <parameters>
        <connectionString>server=.;database=u6_Umbraco7122;integrated security=SSPI</connectionString>
      </parameters>
    </component>

    <component id="UserService"
			service="UCommerce.Security.IUserService, UCommerce"
			type="MyUCommerceApp.BusinessLogic.Integration.SingleUserService, MyUCommerceApp.BusinessLogic">
			<parameters>
				<userName>SomeUser</userName>
			</parameters>
		</component>

		<component id="ConsoleLoggingService"
      service="UCommerce.Infrastructure.Logging.ILoggingService, UCommerce.Infrastructure"
      type="MyUCommerceApp.BusinessLogic.Logging.ConsoleLoggingService, MyUCommerceApp.BusinessLogic">
		</component>	
		
	</components>
</configuration>