@using System.Web.Mvc.Html
@using MyUCommerceApp.Website.Models
@model MyUCommerceApp.Website.Models.CategoryNavigationViewModel
@{
    Layout = null;
}

@helper DisplayCategories(IList<CategoryViewModel> categories)
{
        <ul class="nav nav-list">
            @foreach (var category in categories)
            {
                <li>
                    <a href="@category.Url">
                        <span>@category.Name</span>
                    </a>
                    @DisplayCategories(category.Categories)
                </li>
            }
        </ul>
}
@if (Model.Categories.Any())
{
    <div class="well sidebar-nav" id="main-nav">
        @DisplayCategories(Model.Categories)
    </div>
}




